---
permalink: /blog/
---

{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
        
        {% include header.html %}
        
        {% include banner.html title="Blog" banner="blog" headline="I write about technologies I use, places I travel, tutorials and other things that are relevant to the community." %}
        
        <section class="py-5">
            <div class="container w-lg-75 w-xl-60">
                <div class="row">
                    {% assign blog_posts = site.blog | reverse %}
                    {% for post in blog_posts %}
                        <div class="col-12 mb-5" data-aos="fade-up" data-aos-delay="50">
                            <div class="row">
                                <div class="col-md-6 col-lg-5 mb-3 mb-md-0 overflow-hidden">
                                    <img data-src="{{ '/assets/img/blog/' | append: post.img }}" class="img-fluid">
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex flex-column justify-content-center">
                                    <p class="text-muted small">on <span class="font-weight-bold">{{ post.date | date: "%b %d, %Y" }}</span></p>
                                    <a href="{{ post.url }}" class="stretched-link"><h4 class="font-weight-bold">{{ post.title }}</h4></a>
                                    <div class="">
                                        {% for category in post.categories %}
                                            <span class="badge badge-sm badge-{{ category }}">{{ category }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    
    <div class="bottom-wrapper">
        {% include footer.html %}
    </div>

</body>

{% include scripts.html %}

</html>