---
headline: I write about technologies I use, places I travel, tutorials and other things that are relevant to the community.
img: blog-bg.jpg
permalink: /blog/
---

<style>
    .blog:last-child {
        border: none !important;
    }
</style>

{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
        
    {% include header.html %}
    
    <section class="blog-banner d-flex flex-column justify-content-center animated fadeIn">
        <div class="container w-100 w-md-75">
            <h1 class="display-4 font-weight-bold text-shadow">Blog</h1>
            <p class="text-light w-md-75 w-lg-50 lead font-weight-normal text-shadow">{{ page.headline }}</p>
        </div>
    </section>
    
    <section>
        <div class="container w-100 w-md-75">
            <div class="row">
                {% assign blog_posts = site.blog | reverse %}
                {% for post in blog_posts %}
                    <div class="col-12 col-lg-8 border-bottom border-less-darker py-md-5 py-4 blog revealOnScroll faster" data-animation="fadeInUp" data-delay="{{ forloop.index | times: 100 }}">
                        <p class="text-muted m-0">on <span class="font-weight-bold">{{ post.date | date: "%b %d, %Y" }}</span></p>
                        <h1 class="mb-3">{{ post.title }}</h1>
                        {% for category in post.categories %}
                            <span class="badge badge-{{ category }}">{{ category }}</span>
                        {% endfor %}
                        <div class="mt-3">
                            <span class="text-light mt-3">{{ post.description }}</span>
                        </div>
                        <a href="{{ post.url }}" class="stretched-link"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    </div>
    
    <div class="bottom-wrapper">

    {% include footer.html %}
    
    </div>

</body>

<script src="/assets/js/scroll.js"></script>

</html>