---
permalink: /contact/
---

<style>
    .btn-neutral {
        color: var(--white) !important;
    }
    .btn-neutral:hover,
    .btn-neutral:focus {
        color: var(--white) !important;
    }
</style>

{% include meta.html %}
    
<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">

        {% include header.html %}
        
        {% include banner.html title="Contact" banner="contact" headline="In case you have any project for me, feel free to get in contact with me. I can help you with Web Development, Flutter Development, Strapi CMS, Automation, Python, Content Writing and more." %}
        
        <section class="contact py-4 mt-4">
            <div class="container w-100 w-lg-75 w-xl-60">
                <div class="row">
                    {% for type in site.data.navigation.link_types %}
                        {% assign social_links = site.data.navigation.social_links | where: "type", type.name %}
                        <div class="col-12 mb-4" data-aos="fade">
                            <h3 class="text-muted">{{ type.name | capitalize }}</h3>
                            <div class="d-flex flex-wrap">
                                {% for link in social_links %}
                                    <a href="{{ link.href }}" class="btn btn-neutral mb-2 mr-2" style="background: #{{ link.color }};"><i class="{{ link.icon }} fa-fw mr-1"></i>{{ link.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <div class="bottom-wrapper">
        {% include footer.html %}
    </div>

</body>

{% include scripts.html %}

</html>