---
headline: In case you have any project for me, feel free to get in contact with me. You can contact me through any method of your choice.
permalink: /contact/
links:
    - title: Email
      href: mailto:ravgeetdhillon@gmail.com
      icon: fas fa-at
      color: ea4335
    - title: Twitter
      href: https://twitter.com/ravgeetdhillon
      icon: fab fa-twitter
      color: 1da1f2
    - title: GitHub
      href: https://github.com/ravgeetdhillon
      icon: fab fa-github
      color: 6e5494
    - title: Gitlab
      href: https://gitlab.gnome.org/ravgeetdhillon
      icon: fab fa-gitlab
      color: fc6d26
    - title: Instagram
      href: https://www.instagram.com/ravd_ravgeet/
      icon: fab fa-instagram
      color: e1306c
    - title: LinkedIn
      href: https://www.linkedin.com/in/ravgeetdhillon/
      icon: fab fa-linkedin
      color: 0077b5
---

<style>
    .btn-neutral {
        color: var(--white) !important;
    }
    .btn-neutral:hover,
    .btn-neutral:focus {
        color: var(--white) !important;
    }
</style>

{% include meta.html %}
    
<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">

    {% include header.html %}
    
    <section class="contact-banner d-flex flex-column justify-content-center animated fadeIn">
        <div class="container w-100 w-lg-60">
            <h1 class="display-4 font-weight-bold text-shadow">Contact</h1>
            <p class="text-light w-md-75 w-lg-60 lead font-weight-normal text-shadow">{{ page.headline }}</p>
        </div>
    </section>
    
    <section class="contact py-4 mt-4">
        <div class="container w-100 w-lg-60">
            <div class="row">
                <div class="col d-flex flex-wrap">
                    {% for link in page.links %}
                        <a href="{{ link.href }}" class="btn btn-neutral mb-2 mr-2" style="background: #{{ link.color }};"><i class="{{ link.icon }} fa-fw mr-1"></i>{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    </div>
    
    <div class="bottom-wrapper">

    {% include footer.html %}
    
    </div>

</body>

<script src="/assets/js/scroll.js"></script>

</html>