---
headline: My Lil Stack Overflow &#128521;
permalink: /notes/
---

{% include meta.html %}

<body class="bg-dark text-white">
    
    {% include header.html %}

    <section class="notes py-4">
        <div class="container w-100 w-md-75">
            <div class="row flex-column">
                <div class="col-md-8 py-4">
                    <h1 class="display-4 font-weight-bold text-shadow">Notes</h1>
                    <p class="text-light w-md-75 w-lg-50 lead font-weight-normal text-shadow">{{ page.headline }}</p>
                    <br><br>
                    <input class="form-control bg-darker text-light border border-muted" type="text" placeholder="Try pip install or anything you want" name="search" />
                </div>
            </div>
            <div class="row flex-column" id="notes-holder">
                {% assign notes = site.notes %}
                {% for note in notes %}
                    <div class="col-md-8 py-4 note revealOnScroll faster" data-animation="fadeIn" data-delay="100">
                        <div class="markdown-body">
                            {{ note.content | markdownify }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% include footer.html %}

</body>

<script src="/assets/js/scroll.js"></script>
<script src="/assets/js/notes.js"></script>

</html>