---
headline: My Lil Stack Overflow &#128521;
permalink: /notes/
---

{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
    
    {% include header.html %}

    <section class="notes-banner d-flex flex-column justify-content-center animated fadeIn">
        <div class="container w-100 w-lg-60">
            <h1 class="display-4 font-weight-bold text-shadow">Notes</h1>
            <p class="text-light w-md-75 w-lg-60 lead font-weight-normal text-shadow">{{ page.headline }}</p>
        </div>
    </section>

    <section class="notes py-4">
        <div class="container w-100 w-lg-60">
            <div class="row flex-column">
                <div class="col-md-10 py-4">
                    <input class="form-control bg-darker text-light" type="text" placeholder="Try pip install or anything you want" name="search" />
                </div>
            </div>
            <div class="row flex-column" id="notes-holder">
                {% assign notes = site.notes %}
                {% for note in notes %}
                    <div class="col-md-10 py-4 note revealOnScroll faster" data-animation="fadeIn" data-delay="100">
                        <div class="pl-3 pt-3 border-left border-less-darker markdown-body">
                            {{ note.content | markdownify }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    </div>
    
    <div class="bottom-wrapper">

    {% include footer.html %}
    
    </div>

</body>

<script src="/assets/js/scroll.js"></script>
<script src="/assets/js/notes.js"></script>

</html>