---
permalink: /notes/
---

{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
    
        {% include header.html %}

        {% include banner.html title="Notes" banner="notes" headline="My Lil Stack Overflow &#128521;" %}

        <section class="notes py-5">
            <div class="container w-lg-75 w-xl-60">
                <div class="row flex-column mb-5">
                    <div class="col-12">
                        <input class="form-control bg-darker text-light" type="text" placeholder="Try pip install or anything you want" name="search" data-aos="fade">
                    </div>
                </div>
                <div class="row flex-column" id="notes-holder">
                    {% assign notes = site.notes %}
                    {% for note in notes %}
                        <div class="note col-12 mb-5" data-aos="fade">
                            <div class="pl-3 pt-3 border-left border-less-darker markdown-body">
                                {{ note.content | markdownify }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    
    <div class="bottom-wrapper">
        {% include footer.html %}    
    </div>

</body>

{% include scripts.html %}
<script>
    function searchNotes() {
        notes_holder.forEach(note => {
            note_text = note.innerText.toLowerCase();
            if (!( note_text.includes( search.value.trim().toLowerCase() ) )) {
                note.classList.add('d-none');
            }
            else if (note.classList.contains('d-none')) {
                note.classList.remove('d-none');
            }
        });
    }
    var notes_holder = document.querySelectorAll('#notes-holder .note');
    var search = document.getElementsByName('search')[0];
    search.addEventListener('keyup', searchNotes);
</script>

</html>