---
headline: Most of the projects I have made revolve around my needs or interests. If you have any project for me, you can contact me via [Twitter](https://twitter.com/ravgeetdhillon). Also you can follow me for more updates regarding my projects.
img: blog-bg.jpg
permalink: /projects/
---

<style>
    .project:last-child {
        border: none !important;
    }
</style>

{% include meta.html %}

<script async defer src="https://buttons.github.io/buttons.js"></script>

<body>

    {% include header.html %}
    
    <section class="project-banner d-flex flex-column justify-content-center animated fadeIn">
        <div class="container w-100 w-md-75">
            <h1 class="display-4 font-weight-bold text-shadow">Projects</h1>
            <div class="w-md-75 w-lg-50">
                <span class="text-light lead font-weight-normal text-shadow">{{ page.headline | markdownify }}</span>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container w-100 w-md-75">
            <div class="row py-5">
                {% assign projects = site.data.stuff.projects %}
                {% for project in projects %}
                    <div class="col-12 col-lg-8 border-bottom border-less-darker py-md-5 py-4 project revealOnScroll faster" data-animation="fadeInUp" data-delay="{{ forloop.index | times: 100 }}" id="{{ project.link }}">
                        <div class="mb-3">
                            <h1>{{ project.title }}</h1>
                            <span class="text-light">{{ project.mini_description }}</span>
                        </div>
                        <div>
                            <img src="{{ project.img | prepend: site.url }}" class="img-fluid w-100 mb-3 rounded shadow" alt="A cover photo for the Ravgeet Dhillon's {{ project.title }} project" />
                        </div>
                        <div class="mb-3">
                            <p class="mb-2 font-weight-bold">Tools and Technologies</p>
                            {% for tag in project.tags %}
                                <span class="badge badge-lg mr-2 mb-2 badge-{{ tag }}">{{ tag | upcase }}</span>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <p class="mb-2 font-weight-bold">Description</p>
                            <span class="text-light">{{ project.description | markdownify }}</span>
                        </div>
                        <div class="mb-3">
                            <p class="mb-2 font-weight-bold">Resources</p>
                            {% if project.github %}
                                <a href="{{ project.github }}" class="btn btn-sm border-primary"><i class="fab fa-github mr-1"></i> GitHub Repository</a>
                            {% endif %}

                            {% if project.gitlab %}
                                <a href="{{ project.gitlab }}" class="btn btn-sm border-primary"><i class="fab fa-gitlab mr-1"></i> GitLab Repository</a>
                            {% endif %}

                            {% if project.view_link %}
                                <a href="{{ project.view_link }}" class="btn btn-sm border-primary"><i class="far fa-eye mr-1"></i> View Live</a>
                            {% endif %}
                        </div>
                        {% if project.github %}
                            <a class="github-button" href="{{ project.github }}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ravgeetdhillon/komments on GitHub">Star</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

<script src="/assets/js/scroll.js"></script>

</html>