---
permalink: /projects/
---

{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">

        {% include header.html %}
        
        {% include banner.html title="Projects" banner="projects" headline="Most of the projects I have made revolve around my needs or interests. If you have any project for me, you can [contact](/contact/) me." %}
        
        {% assign projects = site.projects %}
        {% assign count = projects | size %}
        {% assign a = count | divided_by: 2.0 | floor %}

        {% assign arr = '' | split: '' %}
        {% for i in (1..2) %}
            {% assign arr = arr | push: a %}
        {% endfor %}

        {% assign extra = a | times: 2 | minus: count | abs %}

        {% assign narr = '' | split: '' %}
        {% for j in arr %}
            {% if extra > 0 %}
                {% assign i = j | plus: 1 %}
                {% assign narr = narr | push: i %}
                {% assign extra = extra | minus: 1 %}
            {% else %}
                {% assign narr = narr | push: j %}
            {% endif %}
        {% endfor %}
        
        <section class="py-5">
            <div class="container w-xl-60 w-lg-75">
                <div class="row">
                    {% assign start = 0 %}
                    {% for i in narr %}
                        <div class="col-md-6">
                            {% assign end = start | plus: i | minus: 1 %}
                            {% for j in (start..end) %}                   
                                <div class="col-12 mb-4 px-0 bg-theme-white" data-aos="fade-up" data-aos-delay="50">
                                    <img data-src="{{ '/assets/img/project/' | append: projects[j].img }}" class="w-100 img-fluid">
                                    <div class="p-3">
                                        <div class="mb-3 d-flex flex-wrap align-items-center">
                                            {% for tag in projects[j].tags %}
                                                <span class="badge badge-{{ tag }} mr-2">{{ tag | upcase }}</span>
                                            {% endfor %}
                                        </div>
                                        <a href="{{ projects[j].url }}" class="stretched-link">
                                            <h4 class="font-weight-bold">{{ projects[j].title }}</h4>
                                        </a>
                                        <span class="text-dark-light p-in-span">{{ projects[j].mini_description | markdownify }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            {% assign start = end | plus: 1 %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
    </div>

    <div class="bottom-wrapper">
        {% include footer.html %}
    </div>

</body>

{% include scripts.html %}

</html>