---
blog_headline: I write about technologies I use, places I travel, tutorials and other things that are relevant to the community.
img: blog-bg.jpg
img_credits: Photo by [Sven Scheuermeier](https://unsplash.com/@sveninho) on [Unsplash](https://unsplash.com)
permalink: /blog/
---

{% include header.html %}

<body>
    <section class="img-holder d-flex flex-column justify-content-center">
        <div class="container">
            <p class="display-4 text-shadow">Blog</p>
            <p class="text-light dark w-md-75 w-lg-50 lead text-shadow">{{ page.blog_headline }}</p>
            <span class="small text-light py-1 credits align-self-end">{{ page.img_credits | markdownify }}</span>
        </div>
        
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="row">
                {% assign blog_posts = site.blog | reverse %}
                {% for post in blog_posts %}
                    <div class="col-12 col-md-8 border-bottom py-md-5 py-4">
                        <p class="text-muted m-0">on <span class="text-success">{{ post.date | date: "%b %d, %Y" }}</span></p>
                        <a href="{{ post.url }}" class="text-decoration-none text-dark"><h1 class="mb-3 font-weight-light">{{ post.title }}</h1></a>
                        {% for category in post.categories %}
                            <span class="font-weight-light px-2 py-1 badge badge-warning">{{ category }}</span>                    
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% include footer.html %}
