---

---

{% include header.html %}

<body>
    <div class="container">
        <div class="row">
        {% for post in site.blog %}
            <div class="col-12 col-md-8 border-bottom py-5">
                <p class="text-muted m-0">by <span class="text-success">{{ site.author }}</span> on <span class="text-success">{{ post.date | date: "%b %d, %Y" }}</span></p>
                <h1 class="display-4 mb-3">{{ post.title }}</h1>
                {% for category in post.categories %}
                    <span class="font-weight-light px-2 py-1 badge {% cycle 'badge-success', 'badge-warning' %}">{{ category }}</span>                    
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

{% include footer.html %}