:root{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.15s ease-in-out;
}
body{
    background: url("wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}
.holder{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-top: -4rem;
}
.img-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    width: 30%;
    height: 100%;
    max-width: 30rem;
    min-width: 14rem;
    border-radius: 50%;
    border: 0.5rem solid white;
    box-shadow: 0 1rem 2rem #21212140;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.6rem;
}
h1{
    color: #efefef;
    font-weight: 200;
    font-size: 5rem;
    text-align: center;
}
.social{
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    color: #efefef80;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    transition: color 0.15s;
    font-size: 1.5rem;
}
a:hover{
    color: #ffffffdd;
}

@media only screen and (max-width: 60rem){
    .box{
        width: 100%;
    }
    img{
        width: 60%;
    }
}