<section class="{{ include.banner }}-banner d-flex flex-column justify-content-center bg-primary-dark text-theme-white" data-aos="fade">
    <div class="container w-100 w-lg-75 w-xl-60 text-shadow">
        <h1 class="display-4 font-weight-bold text-white" data-aos="fade" data-aos-delay="50">{{ include.title }}</h1>
        <span class="w-lg-75 w-xl-60 lead font-weight-normal p-in-span text-white" data-aos="fade-up" data-aos-delay="100">{{ include.headline | markdownify }}</span>
    </div>
</section>