<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.author }}</title>
    <link rel="icon" href="{{ '/img/ravgeet-logo.ico' | prepend: site.url }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ '/img/ravgeet-logo.ico' | prepend: site.url }}" type="image/x-icon">
    <link href="{{ '/css/markdown.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/css/theme.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/css/colorful.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/css/index.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/@fortawesome/fontawesome-free/css/all.min.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
</head>

{% assign navbar_bgcolor = page.navbar_type %}
<body>
    <section class="bg-{{ navbar_bgcolor }}">
        <header class="container d-flex flex-sm-row flex-column justify-content-between py-3">
            <div class="brand d-flex justify-content-center">
                <a href="/" class="text-dark text-decoration-none"><span class="font-weight-bold"><img src="{{ '/img/ravgeet-logo.png' | prepend: site.url }}" style="width:40px;margin-left:-8px;">{{ site.author }}</span></a>
            </div>
            <div class="links d-flex justify-content-center align-items-center">
                <ul class="list-inline mb-0">
                    {% for link in site.data.navigation.navbar_links %}
                        <li class="list-inline-item"><a class="text-xs-center" href="{{ link.href }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
        </header>
    </section>