<section class="bg-darker animated fadeInDown faster">
    <header class="container w-100 w-md-75 d-flex flex-sm-row flex-column justify-content-between py-3">
        <div class="brand d-flex justify-content-center animated fadeInDown faster delay-100">
            <a href="/" class="text-white text-decoration-none"><span class="font-weight-bold"><img src="{{ '/assets/img/ravgeet-logo.png' | prepend: site.url }}" style="width:40px;margin-left:-8px;">{{ site.author }}</span></a>
        </div>
        <div class="links d-flex justify-content-center align-items-center">
            <ul class="list-inline mb-0">
                {% for link in site.data.navigation.navbar_links %}
                    <li class="list-inline-item animated fadeInDown faster delay-{{ forloop.index | times: 100 }}"><a class="text-xs-center" href="{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
    </header>
</section>

<button class="d-none btn bg-darker border border-dark text-light rounded position-fixed animated rubberBand" id="btn-go-to-top" style="opacity:0.85;"><i class="fas fa-angle-up"></i></button>

<script>
    var btnTop = $("#btn-go-to-top");
    $(window).scroll(function() {
        if ($(window).scrollTop() < 500) {
            btnTop.addClass("d-none");
        }
        else {
            btnTop.removeClass("d-none");
        }
    });
    btnTop.on("click", function(e) {
        e.preventDefault();
        $("html, body").animate({scrollTop: 0});
    });
</script>