<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#30353B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#30353B">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{{ '/assets/img/ravgeet-logo.ico' | prepend: site.url }}">
    <title>{{ site.title }}</title>
    <link rel="apple-touch-icon image_src" href="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a">
    <link rel="icon" href="{{ '/assets/img/ravgeet-dhillon-logo.ico' | prepend: site.url }}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ '/assets/img/ravgeet-dhillon-logo.ico' | prepend: site.url }}" type="image/x-icon">
    <link href="{{ '/assets/css/markdown.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/assets/animate.css/animate.min.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/assets/css/light-theme.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" id="theme-stylesheet" data-mode="light" />
    <link href="{{ '/assets/css/index.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ '/assets/@fortawesome/fontawesome-free/css/all.min.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" />
    <script src="{{ '/assets/jquery/dist/jquery.min.js' | prepend: site.url }}"></script>
	<script src="{{ '/assets/popper.js/dist/umd/popper.min.js' | prepend: site.url }}"></script>
    <script src="{{ '/assets/bootstrap/dist/js/bootstrap.min.js' | prepend: site.url }}"></script>
    <script src="{{ '/assets/moment/moment.js' | prepend: site.url }}"></script>
</head>
