<link href="{{ '/assets/css/markdown.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css">
<link href="{{ '/assets/@fortawesome/fontawesome-free/css/all.min.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css">
<link href="{{ '/assets/aos/dist/aos.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css">
<link href="{{ '/assets/css/light-theme.css' | prepend: site.url }}" rel="stylesheet" media="screen" type="text/css" id="theme-stylesheet" data-mode="light">