---
permalink: /404.html

index: noindex

notfound:
  heading: 404 - Page Not Found
  description: Sorry, the page you are looking for might have been removed or is temporarily unavailable.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include structure/meta.html %}
    {% include structure/styles.html %}
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">
    
    <div class="top-wrapper">
    
        <section class="d-flex flex-column justify-content-between">
            {% include structure/notifications.html %}
            {% include structure/navbar.html %}
        </section>
        
        <section class="py-5">
            <div class="container">
                <div class="row w-xl-60 w-lg-75 mx-lg-auto">
                    <div class="col-12">
                        <p class="display-4">👻</p>
                        <h1 class="h3">404 Page not found</h1>
                        <p class="text-dark-light mb-0 lead">Couldn't find the page you're looking for. It maybe have been removed or moved to different path. Please <a href="{{ '/issues/' | prepend: site.site_repo }}">file an issue</a> on the Github.</p>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <div class="footer-wrapper">
        {% include structure/footer.html %}
    </div>

{% include structure/scripts.html %}

</body>
</html>