---
permalink: /contact/

meta:
  title: Contact - Ravgeet Dhillon
  description: Ravgeet Dhillon is a Full Stack Developer, Flutter Developer, and Technical Content Writer based in India.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include structure/meta.html %}
    {% include structure/styles.html %}
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">

    <div class="top-wrapper">
        
        <section class="d-flex flex-column justify-content-between">
            {% include structure/notifications.html %}
            {% include structure/navbar.html %}
        </section>

        {% include structure/banner.html title="Contact" headline="If you want to me to work on your project, feel free to [send me an email](mailto:ravgeetdhillon@gmail.com). I am open to working with startups and businesses that offer remote work." %}
        
        <section class="py-5">
            <div class="container">
                <div class="row w-lg-75 w-xl-60 mx-lg-auto">
                    <div class="col-12">
                        {% for link in site.data.navigation.social_links %}
                            <a href="{{ link.href }}" target="_blank" class="d-block {% unless forloop.last %} mb-3 {% endunless %}">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="footer-wrapper">
        {% include structure/footer.html %}
    </div>

{% include structure/scripts.html %}

</body>
</html>
