---
permalink: /

meta:
  title: Full Stack Developer, Flutter Developer, Technical Content Writer - Ravgeet Dhillon
  description: Ravgeet Dhillon is a Full Stack Developer, Flutter Developer, and Technical Content Writer based in India.

landing:
  heading: I'm Ravgeet 👋
  status: Full Stack Developer and Technical Content Writer
  description: |-
    ## 😄 About Me

    I am a **Full-Stack Developer** and **Technical Content Writer** based in India 🇮🇳.

    I run my one-man Digital Product Development agency, [RavSam](https://www.ravsam.in), via which I provide my **freelance services** to **startups** and **businesses** around the globe.

    I am currently **pursuing my Masters in Computer Science and Engineering** at Guru Nanak Dev University and will be post-graduating in 2022.

    [Read my Story >](/story/)

    ## 👨‍💻 Full Stack Development

    I provide my freelance services to clients all over the world via my [Full Stack Development agency](https://www.ravsam.in). My first large-scale project was the revamp of the [GTK website](https://gtk.org) which I did as Google Summer of Code Developer. It was [greatly appreciated](https://twitter.com/GTKtoolkit/status/1230167481228107776) by the open-source community.

    Since then, I have worked with many startups and made digital products for them.
    Currently, I am working with [CloudAnswers](https://cloudanswers.com) as a Full Stack Developer and Consultant on contract basis. I am also passionate about design and user experience.

    [Projects](/projects/) <span class="text-light">&bull;</span>
    [GitHub](https://github.com/ravgeetdhillon) <span class="text-light">&bull;</span>
    [Dribbble](https://dribbble.com/ravgeetdhillon)
  
    ## ✍️ Technical Content Writing

    As a Technical Content Writer, my work is not just limited to writing tutorials, how-to guides, and docs but also setup documentation websites, publishing workflows, and more.

    Currently, I am working on a contract basis with [Draft.dev](https://draft.dev) and [Honeybadger](https://honeybadger.io) as a Technical Content Writer.

    Besides these, I also write for:

    - [CSS Tricks](https://css-tricks.com/author/ravgeetdhillon)
    - [Vonage](https://learn.vonage.com/authors/ravgeet-dhillon/)
    - [Twilio](https://www.twilio.com/blog/author/ravgeet_dhillon)
    - [Adam The Automator](https://adamtheautomator.com/author/ravgeet-dhillon/)
    - [Adeva IT](https://adevait.com/author/ravgeet-dhillon)
    - [RavSam](https://www.ravsam.in/blog/)
    - [Personal Blog](https://blog.ravgeet.in/)

    ## 🏗 Tech Stack

    These are some of my favorite technologies that I use in my daily products. I am constantly learning about new ones and looking to expand my knowledge horizon.

    - **Front End Development** - React, Vue, Next, Nuxt
    - **Backend Development** - Python, Node, Laravel, MySQL
    - **Cross-Platform App Development** - Flutter
    - **CMS and API Development** - Strapi
    - **Static Site Generation** - Jekyll, Hugo
    - **Deployment** - Netlify, DigitalOcean, Heroku, VPS
    - **DevOps** - GitHub Actions, Gitlab CI CD
    - **Automation** - Google Apps Script
    - **Add-Ons** - Stripe, Notion, Markdown, Trello
    - **Development** - VSCode, Linux Ubuntu, GitHub, Spotify
    - **Design** - Figma

    I'm currently aiming to learn about **Kubernetes** and **Docker**.

    ## 🎹 Music

    Sometimes I decide to get away from tech life and dive straight into music production. I have [my Youtube channel](https://youtube.com/ravdmusic), where you can listen to my remixes and originals.
    
    ## ⚽️ Sports

    ***All work and no play makes Jack a dull boy***. So, I go out with my friends to play outdoor sports like Cricket, Football and more. I love to cycle around my city and try to ride at least 10-15 km a day.

    ## 📫 Newsletter

    I publish a monthly [newsletter](https://www.ravsam.in/newsletter/) with **300+ subscribers** in which I share personal stories, projects that I am working on, what is happening in the world of tech, and some interesting dev related posts which I come across while surfing on the web.

    ## ☎️ Get In Touch

    Whether you are a student or a CEO, my inbox is open to everyone. I'd love to help you in any way possible. If you have an interesting project for me, please get in touch for a discussion. I am **open to working with startups and businesses that offer remote work**.

    You can reach out to me via any of these channels:

    [Email](mailto:ravgeetdhillon@gmail.com) <span class="text-light">&bull;</span>
    [Twitter](https://www.twitter.com/ravgeetdhillon) <span class="text-light">&bull;</span>
    [LinkedIn](https://www.linkedin.com/in/ravgeetdhillon)
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include structure/meta.html %}
    {% include structure/styles.html %}
    <style>
        h2 {
            margin-top: 4rem;
        }
    </style>
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">

    <div class="top-wrapper">

        <section class="d-flex flex-column justify-content-between">
            {% include structure/notifications.html %}
            {% include structure/navbar.html %}
        </section>

        <section class="py-5 bg-theme-white">
            <div class="container">
                <div class="row w-lg-75 w-xl-60 mx-lg-auto">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="mr-3">
                            <h1>{{ page.landing.heading }}</h1>
                            <p class="text-muted">{{ page.landing.status }}</p>
                        </div>
                        <img src="{{ '/assets/images/icons/logos/ravgeet-dhillon.jpg' | absolute_url }}" style="max-width: 15rem; width:100%;" class="img-fluid rounded mb-4">
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="pt-3 py-5">
            <div class="container">
                <div class="row w-lg-75 w-xl-60 mx-lg-auto">
                    <div class="col-12">
                        <p class="text-dark-light">{{ page.landing.description | markdownify }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="footer-wrapper">
        {% include structure/footer.html %}
    </div>

{% include structure/scripts.html %}

</body>
</html>
