---
permalink: /projects/

meta:
  title: Projects - Ravgeet Dhillon
  description: Ravgeet Dhillon is a Full Stack Developer, Flutter Developer, and Technical Content Writer based in India.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include structure/meta.html %}
    {% include structure/styles.html %}
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">

    <div class="top-wrapper">
        
        <section class="d-flex flex-column justify-content-between">
            {% include structure/notifications.html %}
            {% include structure/navbar.html %}
        </section>

        {% include structure/banner.html title="Projects" headline="" %}
        
        <section class="py-5">
            <div class="container">
                <div class="row w-xl-60 w-lg-75 mx-lg-auto">
                    {% for project in site.projects %}
                        <div class="col-12 mb-5">
                            <div class="mb-3 d-flex flex-wrap align-items-center">
                                {% for tag in project.tags %}
                                    <span class="badge badge-theme-white p-1 mr-2">{{ tag | upcase }}</span>
                                {% endfor %}
                            </div>
                            <a href="{{ project.url }}" class="stretched-link">
                                <h2 class="h4">{{ project.title }}</h2>
                            </a>
                            <p class="text-dark-light mb-0">{{ project.mini_description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <div class="footer-wrapper">
        {% include structure/footer.html %}
    </div>

{% include structure/scripts.html %}

</body>
</html>