@use 'sass:map';
@use 'bootstrap/scss/bootstrap';
@use 'variables' as variables;

html,
body {
  overflow-x: hidden;
  min-height: 100%;
  font-display: swap;
}

@each $breakpoint in map-keys(bootstrap.$grid-breakpoints) {
  @media (min-width: map.get(bootstrap.$grid-breakpoints, $breakpoint)) {
    @each $i in variables.$widths {
      $breakpointValue: '';
      @if $breakpoint == 'xs' {
        $breakpointValue: $i;
      } @else {
        $breakpointValue: $breakpoint + '-' + $i;
      }
      .w-#{$breakpointValue} {
        @if type-of($i) == 'number' {
          width: unquote($i + '%' + ' !important');
        } @else {
          width: #{$i} !important;
        }
      }
    }
    @each $i in variables.$heights {
      $breakpointValue: '';
      @if $breakpoint == 'xs' {
        $breakpointValue: $i;
      } @else {
        $breakpointValue: $breakpoint + '-' + $i;
      }
      .h-#{$breakpointValue} {
        @if type-of($i) == 'number' {
          height: unquote($i + '%' + ' !important');
        } @else {
          height: #{$i} !important;
        }
      }
    }
  }
}
