.snap-scroll-horizontal {
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
  }
}

.snap-child-at-start {
  scroll-snap-align: start;
}
