$sizes: (
  'sm': $box-shadow,
  'md': $box-shadow-lg,
  'lg': $box-shadow-sm,
);

@each $size, $value in $sizes {
  .shadow-#{$size}-hover {
    transition: 0.1s ease-in-out;
    &:hover {
      box-shadow: $value !important;
    }
  }
}
