@use 'variables' as variables;

$sizes: (
  'sm': variables.$box-shadow,
  'md': variables.$box-shadow-lg,
  'lg': variables.$box-shadow-sm,
);

@each $size, $value in $sizes {
  .shadow-#{$size}-hover {
    transition: 0.1s ease-in-out;
    &:hover {
      box-shadow: $value !important;
    }
  }
}
