.lead {
  font-weight: normal;
}

b,
strong {
  font-weight: bold !important;
}

figcaption {
  font-size: 1rem;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2 {
  font-weight: bold;
}
