$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
);

$widths: 25, 40, 50, 60, 75, 100, auto;
$heights: 25, 40, 50, 60, 75, 100, auto;

@each $breakpoint in map-keys($breakpoints) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @each $i in $widths {
            .w-#{$breakpoint}-#{$i} {
                @if type-of($i) == "number" {
                    width: unquote($i + "%" + " !important");
                } @else {
                    width: #{$i} !important;
                }
            }
        }
        @each $i in $heights {
            .h-#{$breakpoint}-#{$i} {
                @if type-of($i) == "number" {
                    height: unquote($i + "%" + " !important");
                } @else {
                    height: #{$i} !important;
                }
            }
        }
    }
}

@for $i from 0 through 10 {
    $gap: 100;
    $i: $i * $gap;
    .delay-#{$i} {
        animation-delay: #{$i / 1000}s;
    }
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.tab-pane::-webkit-scrollbar {
    width: 0.4rem;
}

.tab-pane::-webkit-scrollbar:hover {
    width: 0.6rem;
}

.tab-pane::-webkit-scrollbar-thumb {
    background: var(--info);
    border-radius: 1.6rem;
}

.tab-pane::-webkit-scrollbar-track {
    background: transparent;
    margin: 1rem;
}

.border-muted {
    border-color: #6c757d !important;
}

.credits p {
    margin-top: 4px;
    margin-right: 4px;
}

.text-shadow {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}

#btn-go-to-top {
    bottom: 32px;
    right: 32px;
    z-index: 1000;
}

.p-in-span p {
    margin-bottom: 0;
}

.v-align-text-bottom {
    vertical-align: text-bottom;
}

b,
strong {
    font-weight: bold !important;
}

.animated.none {
    animation: none;
}

.sidebar {
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 992px) {
    .animated {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}
