// color system

$theme-colors: (
    "primary": #203fc9,
    "primary-light": #e0e5ff,
    "primary-dark": #081550,
    "secondary": #ee7d32,
    "secondary-light": #ffecdf,
    "secondary-dark": #622a04,
    "success": #29c44d,
    "info": #1485ba,
    "warning": #fca728,
    "danger": #ef3437,
    "pure-white": #ffffff,
    "theme-white": #f0f3f5,
    "theme-white-light": #e5eaf0,
    "dark-light": #3f4549,
    "dark": #1f2325
);

$input-border-color: map-get($theme-colors, darken(map-get($theme-colors, "theme-white-light"), 20%));

$body-bg: map-get($theme-colors, "pure-white");
$body-color: map-get($theme-colors, "dark");
$link-color: map-get($theme-colors, "primary") !default;
$link-hover-color: darken($link-color, 15%) !important;

$theme: "light";

@import "theme";
