{% if site.show_notifications %}
    <section class="bg-primary-light py-1 d-none" id="notification">
        <div class="container">
            <div class="row w-lg-75 w-xl-60 mx-lg-auto">
                <div class="col-12 d-flex justify-content-between align-items-baseline">
                    <p class="mb-0 small">{{ site.data.notification.notification.message }} <a href="{{ site.data.notification.notification.link.url | absolute_url }}">{{ site.data.notification.notification.link.title }}</a></p>
                    <button class="btn text-muted py-0 ml-3" onclick="hideNotification()">&times;</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        const notification = document.getElementById('notification');

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                checkNotificationStatus()
            }, false);
        })();

        function checkNotificationStatus() {
            const notificationClosed = JSON.parse(localStorage.getItem('notification_closed'));
            if (!notificationClosed) {
                notification.classList.remove('d-none');
            }
        }

        function hideNotification() {
            localStorage.setItem('notification_closed', true);
            if (!notification.classList.contains('d-none')) {
                notification.classList.add('d-none');
            }
        }
    </script>
{% endif %}
