{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
    
    {% include header.html %}

    <section class="py-4">
        <div class="container w-100 w-md-75">
            <div class="row align-items-start">
                <div class="col-12 col-md-10 p-3">
                    <div>
                        <h1 class="display-4 font-weight-bold text-shadow animated fadeIn faster">{{ page.title }}</h1>
                        <span class="text-muted m-0 animated fadeInUp faster delay-200">on <span class="font-weight-bold">{{ page.date | date: "%b %d, %Y" }}</span></span>
                        <span class="text-muted m-0 ml-3 animated fadeInUp faster delay-300"><i class="far fa-clock"></i> <span class="font-weight-bold">{{ page.content | number_of_words | divided_by: 180 | plus: 1 }} min read</span></span>
                    </div>
                    <div class="py-4 animated fadeIn faster delay-400">
                        <img src="{{ '/assets/img/blog/' | prepend: site.url | append: page.img }}" class="rounded img-fluid w-100 shadow" alt="{{ page.title | append: ' : ' | append: page.img }}">
                        <span class="small text-muted py-1 credits text-right">{{ page.img_credits | markdownify }}</span>
                    </div>
                    <div class="pt-4 pb-3 animated fadeIn faster">
                        <span class="markdown-body lead font-weight-normal">
                            {{ page.content | markdownify }}
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-10 py-3 pl-3 animated fadeIn faster delay-600">
                    <p class="text-muted">More Blog Posts</p>
                    {% assign blog_posts = site.blog | reverse %}
                    {% for post in blog_posts limit:5 %}
                        <div class="pb-2">
                            <p class="mb-0"><a href="{{ post.url }}">{{ post.title }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    </div>

    <div class="bottom-wrapper">

    {% include footer.html %}
    
    </div>

    <script>
        var images = document.querySelectorAll('.markdown-body img');
        images.forEach(image => {
            image.classList.add("rounded");
        });
    </script>

</body>

<script src="/assets/js/scroll.js"></script>

</html>
