<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include structure/meta.html %}
    {% include schemas/blog-schema.html %}
    {% include structure/styles.html markdown="true" %}
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">

    <div class="top-wrapper">

        <section class="d-flex flex-column justify-content-between">
            {% include structure/notifications.html %}
            {% include structure/navbar.html %}
        </section>

        <section class="py-5">
            <div class="container">
                <div class="row w-lg-75 w-xl-60 mx-lg-auto">
                    <div class="col-12 mb-5">
                        <div class="small d-flex mb-4">
                            <p class="text-muted mb-0">
                                on <strong>{{ page.date | date: "%b %d, %Y" }}</strong><span class="mx-2 text-light">&bull;</span><strong>{{ page.content | number_of_words | divided_by: 180 | plus: 1 }} min</strong> read</span>
                            </p>
                        </div>
                        <h1 class="font-weight-bold mb-4">{{ page.title }}</h1>
                        {% if page.external %}
                            <p class="mb-4"><i>This blog was originally published on <a href="{{ page.canonical_details.url }}">{{ page.canonical_details.site }} blog</a>.</i></p>
                        {% endif %}
                        <article class="markdown-body mb-4">
                            {{ page.content | markdownify }}
                        </article>
                        <div class="lead alert alert-info">If you enjoyed this blog, consider <a href="https://www.ravsam.in/newsletter/">subscribing to my newsletter</a>.</div>
                    </div>

                    <div class="col-12">
                        <p class="text-muted">More Blog Posts</p>
                        {% assign blogs = '' | split: ',' %}

                        {% for page in site.blogs %}
                            {% assign blogs = blogs | push: page %}
                        {% endfor %}

                        {% for page in site.blogs_external %}
                            {% assign blogs = blogs | push: page %}
                        {% endfor %}
                        
                        {% assign related_blogs = '' | split: ',' %}

                        {% assign pick_related_blogs = 4 %}
                        
                        {% for tag in page.tags %}
                            {% assign related_blogs_on_tag = blogs | where_exp: 'item', 'item.tags contains tag and item.url != page.url' %}
                            {% assign related_blogs = related_blogs | concat: related_blogs_on_tag %}
                        {% endfor %}

                        {% assign related_blogs = related_blogs | get_related: pick_related_blogs %}

                        {% assign random_blogs = site.blogs | sample: pick_related_blogs | map: 'url' %}
                        {% assign related_blogs = related_blogs | concat: random_blogs | uniq | compact | slice: 0, pick_related_blogs %}
                        
                        {% assign related_blogs_url = '' | split: ',' %}
                        {% for url in related_blogs %}
                            {% assign abs_url = url | absolute_url %}
                            {% assign related_blogs_url = related_blogs_url | push: abs_url %}
                        {% endfor %}
                        
                        <div class="row">
                            {% for blog in related_blogs %}
                                <div class="col-md-12 {% unless forloop.last %} mb-4 {% endunless %}">
                                    <a href="{{ blog.url }}">
                                        <h3 class="h5">{{ blog.title }}</h3>
                                    </a>
                                    <p class="text-dark-light mb-0">{{ blog.description }}</p>
                                </div>
                                <!-- <div class="pb-2">
                                    <p class="mb-0"><a href="{{ blog.url }}">{{ blog.title }}</a></p>
                                </div> -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="footer-wrapper">
        {% include structure/footer.html %}
    </div>

{% include structure/scripts.html %}

</body>
</html>