{% include meta.html %}

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
    
        {% include header.html %}

        <section class="py-4">
            <div class="container w-100 w-lg-75 w-xl-60 px-0 px-sm-3">
                <div class="row align-items-start">
                    <div class="col-12 py-3">
                        <div class="small d-flex mb-4 px-3 px-sm-0" data-aos="fade">
                            <div>
                                <img src="{{ '/assets/img/ravgeet-dhillon-small.jpg' }}" class="img-fluid rounded-circle" alt="{{ site.title }}">
                            </div>
                            <div class="d-flex flex-column justify-content-center ml-3">
                                <span><a href="{{ site.url }}" class="text-decoration-none">{{ site.author }}</a></span>
                                <span class="text-muted">on <strong>{{ page.date | date: "%b %d, %Y" }}</strong><span class="mx-2">&bull;</span><strong>{{ page.content | number_of_words | divided_by: 180 | plus: 1 }} min</strong> read</span></span>
                            </div>
                        </div>
                        <h1 class="font-weight-bold mb-4 px-3 px-sm-0" data-aos="fade">{{ page.title }}</h1>
                        <div class="mb-4" data-aos="fade" data-aos-delay="50">
                            <img src="{{ '/assets/img/blog/' | append: page.img }}" class="img-fluid w-100 shadow mb-2" alt="{{ page.title }} blog" data-aos="fade">
                            <span class="small text-muted credits text-right">{{ page.img_credits | markdownify }}</span>
                        </div>
                        <div class="py-4 px-3 px-sm-0" data-aos="fade">
                            <span class="markdown-body">
                                {{ page.content | markdownify }}
                            </span>
                        </div>
                    </div>
                    <div class="col-12 py-3 px-4 px-sm-3">
                        <p class="text-muted">More Blog Posts</p>
                        {% assign blog_posts = site.blog | reverse %}
                        {% for post in blog_posts limit:5 %}
                            <div class="pb-2">
                                <p class="mb-0"><a href="{{ post.url }}">{{ post.title }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="bottom-wrapper">
        {% include footer.html %}
    </div>

</body>

{% include scripts.html %}

</html>
