{% include meta.html %}

<body class="bg-dark text-white">
        
    {% include header.html %}

    <section class="notes py-4">
        <div class="container w-100 w-md-75">
            <div class="row flex-column">
                <div class="col-md-8 py-4">
                    <h1 class="display-4">Notes</h1>
                    <span class="text-muted lead">Here I keep a record of all the problems that occured to me while I was developing some stuff.</span>
                    <br><br>
                    <input class="form-control text-less-dark" type="text" name="search" placeholder="Type to search..." onkeyup="searchText()" />
                </div>
                <div class="col-md-8 py-4">
                    <div class="markdown-body">
                        {{ page.content | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include footer.html %}

</body>

<script src="/assets/js/scroll.js"></script>

</html>