<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "url": "{{ page.url | absolute_url }}",
    "name": {{ page.title | jsonify }},
    "headline": {{ page.title | jsonify }},
    "keywords": {{ page.tags | join: ', ' | jsonify }},
    "genre": "{{ page.tags | first }}",
    "description": {{ page.description | strip_newlines | strip | jsonify }},
    "articleBody": {{ page.content | strip_html | jsonify }},
    "datePublished": {{ page.date | jsonify }},
    "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
    "isAccessibleForFree": "True",
    "inLanguage": "en-US",
    "author": {
        "@type": "Person",
        "name": {{ site.author | jsonify }}
    },
    "publisher": {
        "@type": "Person",
        "name": {{ site.author | jsonify }},
        "description": {{ site.description | jsonify }},
        "url": "{{ '/' | absolute_url }}",
        "sameAs": [
            {% assign social_links = site.data.navigation.social_links | where_exp: 'item', 'item.href != nil' %}
            {% for social in social_links %}
                "{{ social.href }}"
            {% unless forloop.last %},{% endunless %}{% endfor %}
        ],
        "logo": {
            "@type": "ImageObject",
            "width": 32,
            "height": 32,
            "url": "{{ '/assets/images/icons/favicons/favicon-32x32.png' | absolute_url }}"
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | absolute_url }}"
    },
    "image": {
        "@type": "ImageObject",
        "width": "180",
        "height": "180",
        "url": "{{ '/assets/images/icons/favicons/apple-touch-icon.png?v=dLX2EOBeBG' | absolute_url }}"
    }
}
</script>
